.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-media p {
  color: #ffffff;
  letter-spacing: 0.02em;
}

.footer .logo {
  color: inherit;
}

.footer .container {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-right: 120px;
  margin: 0 0;
}

.footer-text {
  width: 264px;
}

.footer-organizer {
  display: flex;
  justify-content: flex-start;
  width: 1158px;
}

.copyrights-container {
  margin-right: 120px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-media .social-links {
  gap: 16px;
}
